body {
  background: url(AdobeStock_292792584.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
}

.weather-app {
  padding: 25px;
  border: 3px solid #ffffff;
  border-radius: 25px;
  background-color: hsla(206, 100%, 93%, 0.55);
}

.search-row {
  font-family: "Playfair Display", serif;
}

.search-result {
  list-style: none;
  display: block;
  margin-bottom: 4px;
  margin-left: 50px;
  text-align: left;
  color: #6c757d;
  font-family: "Quicksand", sans-serif;
}

WeatherInfo.city {
  margin-bottom: 0.5%;
}

.WeatherInfo .weather-icon {
  display: block;
  margin-left: 0px;
}

.WeatherTemperature .degrees {
  font-family: "Quicksand", sans-serif;
  font-size: 62px;
  font-weight: 400;
  color: #6c757d;
  line-height: 0;
}

.WeatherTemperature .units {
  position: relative;
  font-size: 18px;
  top: -30px;
  color: #6c757d;
}

.WeatherTemperature a.temp-difference {
  color: #6c757d;
  filter: drop-shadow(2px 2px 2px #ffffff);
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-weight: 400;
}

.WeatherTemperature a.temp-difference:hover {
  cursor: default;
  color: black;
  filter: drop-shadow(2px 2px 1px #ffffff);
}

.WeatherInfo .feels {
  list-style: none;
  color: #6c757d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.WeatherForecast {
  text-align: center;
  color: #6c757d;
}
.WeatherForecast-day {
  font-size: 17px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  opacity: 0.8;
}
.WeatherForecast-temperatures {
  font-size: 15px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}
small {
  margin-top: 7px;
  display: block;
  text-align: center;
  color: #6c757d;
  font-weight: 400;
}
